.column {
  background-color: white;
  margin-left: 4px;
  padding: 6px;
}
.summary-panel {
  border-bottom: 2px #eeeeee solid;
  padding: 4px 8px;
  &__child-processes {
    flex-wrap: wrap;
  }
}
.subtitle {
  margin-top: -12px;
  margin-bottom: 10px;
  color: #aaaaaa;
}
h1 {
  margin-bottom: 8px;
  font-size: 21px;
  font-weight: 400;
}

.process-details {
  padding-right: 8px;
  .chart {
    height: 180px;
    width: 100%;
  }
  & > [class*='wnd-Stack'] {
    height: 100%;
    overflow: hidden;
  }
}

.process-details-main {
  &:last-child {
    margin-bottom: 20px;
  }
}
.primary-grid {
  height: 100%;
  overflow: hidden;
}
.primary-column {
  overflow: auto !important;
}
.secondary-column {
  overflow-y: auto !important;
}
.primary-column-main {
  &:last-child {
    margin-bottom: 20px;
  }
}

[class*='--lastColumn'] {
  box-shadow: none;
  &[class*='--highlighted'] {
    background-color: white;
  }
}
