.primary-grid {
  display: flex;
  height: 100%;
  width: 100%;
}

.primary-column {
  width: 66%;
  height: 100%;
  padding: 6px 0;
  position: relative;
  right: -15px; // position over the phantom action table column
}

.secondary-column {
  width: 34%;
  height: 100%;
  padding: 6px 0;
  position: relative;
  left: -17px; // position over the phantom action table column
}

.subtitle {
  color: #aaaaaa;
}

.summary-panel {
  border-bottom: 1px #eeeeee solid;
  padding-bottom: 7px;
  &__child-processes {
    flex-wrap: wrap;
  }
}

.process-details {
  .chart-group {
    display: flex;
    flex-wrap: wrap;
    .chart {
      height: 200px;
      width: 100%;
      padding: 0 1rem 1rem 1rem;
      margin: 1rem 0;

      .title {
        padding-bottom: 0.75rem;
      }
    }
  }
}

// hide the phantom action column from the processes table
[class*='--lastColumn'] {
  display: none;
}
